{% extends "base.html" %}
{% block title %}Гості за {{table_id}} столом{% endblock %}
{% block content %}
<div style="margin-top: 100px;">
    {% for table_guest in table_guests %}
        <br><hr>
        <p>Id: {{ table_guest.id }}</p>
        <p>Guest name: {{ table_guest.name }}</p>
        <p>Profile image: {{ table_guest.profile_image }}
         <a href="{{ url_for('guest_info', guest_id=table_guest.id) }}">
             <img src="{{ url_for('static', filename=table_guest.profile_image) }}"
              alt="{{ table_guest.profile_image }}" width="50" height="60">
         </a>
        </p>
        <p>Guest sex: {{ table_guest.sex }}</p>
        <p>Guest age: {{ table_guest.age }}</p>
        <p>Guest's description: {{ table_guest.description }}</p>
        <p>Guest's phone number: {{ table_guest.phone_number }}</p>
        <p>Guest contact: {{ table_guest.contact }}</p>
        <p>Table number: {{ table_guest.table_number }}</p>
        <p>Seat number: {{ table_guest.seat_number }}</p>
        <p>Guest side: {{ table_guest.side }}</p>
    {% endfor %}
</div>
{% endblock %}